.boxtotalbuy,
.boxproduct {
  max-width: 600px;
  border-radius: 8px;
  border: 2px solid var(--color-border);
}

.headerbox {
  padding: 3em 2em 0;
}

.primaryLine {
  display: flex;
  align-items: center;
  justify-content: space-between;

  h2 {
    font-size: 1.4em;
    font-weight: 600;
    color: var(--title-color);
  }

  span:last-child {
    font-size: 1em;
    font-weight: 500;
    color: var(--color-bagy);
  }
}

.secondaryLine {
  margin-top: 12px;

  span {
    color: var(--color-secondaryline-box);
    font-weight: 600;
  }
}

.mainbox {
  width: 100%;
  max-height: 250px;
  overflow: hidden;
  padding: 16px 0;

  ul {
    margin-top: 12px;
    overflow: auto;
    max-height: 250px;
  }

  li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.4em 2em;
    border-bottom: 2px solid var(--color-border);
  }

  li:last-child {
    border: none;
  }

  span {
    width: 170px;
    color: var(--title-color);
  }

  span:nth-child(1n+2) {
    color: var(--color-h4-text-box);
    text-align: end;
  }
}

//  Table Producs Sales
// https://stackoverflow.com/questions/23989463/how-to-set-tbody-height-with-overflow-scroll
// http://jsfiddle.net/c3w6hgr0/6/
.table {
  // display: table;
  width: 100%;

  thead {
    // text-align: left;
    color: var(--title-color);
    border: none;
    display: table;
    table-layout: fixed;
    width: 100%;

    th {
      text-align: left;
      padding: 2em 2em 2em;
    }
  }

  td {
    padding: 1em 0 1em 2em;
  }

  tbody {
    width: 100%;
    display: block;
    overflow-y: scroll;
    max-height: 250px;

    td {
      color: var(--color-tb-bx-product);
      border-bottom: 2px solid var(--color-border);
    }

    tr {
      width: 100%;
      display: table;
      table-layout: fixed;
    }
  }

  tr:last-child {
    td {
      border: none;
    }
  }
}

.tbdate {
  padding: 0.6em 0.8em;
  background: var(--color-date-bx-product);
  color: var(--main-color);
  border-radius: 12px;
  font-weight: 600;
  // width: 50%;
  text-align: center;
  display: inline-block;
}

.tbprice {
  display: inline-block;
  text-align: center;
  width: 80%;
  padding: 0.6em 0.8em;
  background: var(--color-price-bx-product);
  color: var(--main-color);
  border-radius: 12px;
  font-weight: 600;
}
