* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  list-style: none;
  font-family: Arial, helvetica, sans-serif;
  text-decoration: none;
  box-shadow: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

:root {
  --color-bagy: #FC3C8D;
  --main-color: #fff;
  --title-color: #252733;
  --color-border: #DFE0EB;
  --color-text-mn: #A4A6B3;
  // Colors Nav
  --color-bg-nav-mn: #363740;
  --color-nav-hover-mn: #463746;
  --color-fill-svg-nav: #60626E;
  // Colors main content
  --color-border-hv: #DDE2FF;
  --color-h4-text-box: #9FA2B4;
  --color-secondaryline-box: #2F80ED;
  --color-tb-bx-product: #677371;
  --color-date-bx-product: #FEC400;
  --color-price-bx-product: #2F80ED;
  --color-approve: #219653;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 5px;
  background: var(--color-border);
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  border-radius: 5px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--color-bagy);
  border-radius: 5px;
}
