/* n Navegação, m Menu, c Conteudo, f Footer */
.container {
  display: grid;
  grid-template-areas:
    "n m m"
    "n c c"
    "n c c"
    "n f f"
  ;
  grid-template-columns: minmax(250px, 350px) auto;
}

.main {
  min-height: 100vh;
  grid-area: c;
  /* padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}

.footer {
  grid-area: f;
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  color: #333;
}

.footer span {
  display: flex;
  justify-content: center;
  align-items: center;
}
